<div class "container">
  <div class="row calender">
    <h2>Please come visit us at any of our events!</h2>
    <div class="center-block">
      <%= render partial: 'calender' %>
    </div>
  </div> 
</div> 