<!DOCTYPE html>
<html>
<head>
  <meta content="text.html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
    <h1><%="Name: #{@contact.name}" %></h1>
    <h2><%="Email: #{@contact.email}" %></h2>
    <h3><%="Info: #{@contact.body}" %></h3>
  </body>
</html>