/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Aladin);
  
 body {
  padding-top: 150px;
  padding-bottom: 100px;
 }
 nav {
  height: 155px;
 }
 .navi {

  font-size: 20px;
  margin-top: 0px;
  top: -18px;
 }
 .navbar-fixed-top {
  border-bottom: black 35px solid;
 }
 

  
 .h2 { 
  color: #ff3384;
  line-height:100px; 
  vertical-align: middle;
  
  
  font-size: 55px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  }
  
  
  .navbar {
    background-image: url("http://2.bp.blogspot.com/-IJJ8kPI8n0g/UOwelxzR9gI/AAAAAAAALS8/3IOqG_eBWsc/s1600/blackboard-backgrounds-wallpapers.jpg;");
  }
  #a {
    color: white;
  }
  #a:hover {
    color: #ff3384;
  }
  #a:active {
    color: white;
  }

 .navbar-fixed-bottom {
  
  background-color: black;
  z-index: 10;
  }
  
.thumbnail {
  border-radius: 10px;
}
.phil {
  color: white;
}
.home-img {
  border-radius: 40px;
}
.outline {
  border: 1px solid #c6d9ec;
  border-radius: 5px;
}
.calender {
  padding-left: 90px;
  padding-top: 50px;
}
.name {
  margin-left: 25px;
  display: inline-block;
}
.outline-emai {
  border: 1px solid black;
}
.outline-body {
  border: 1px solid black;
}
.each_img {
  float: left;
  border-radius: 15px;
  margin: 5px;
}
.border{
  border-radius: 15px;
}