<div class="container">
  <%= form_for [image], html:{class: 'form-inline'} do |f| %>
  <div class="form-group outline">
    <%= f.label :image, class: 'form-group' %>
    <%= f.file_field :image, class: 'form-group' %>
    <%= f.submit "Save", class: 'btn btn-success btn-xs' %>

  </div>
  <% end %>
</div>
